@{
    ViewData["Title"] = "Our Products";
    Layout = "_Layout";
}

<div id="root"></div>

<a class="btn btn-primary" asp-controller="Home" asp-action="AddCustomers">New Customer</a>

<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>



<!-- Load external React frontend from the file:wwwroot/js/App.js-->
<script type="text/babel" src="~/js/App.js"></script>
